@use "../../Variables.scss" as *;

.dg1 {
    height: 2vh;
    width: 100%;
    background: linear-gradient(to top, $Background-Header, $Black); /* Usando variáveis SCSS */
}

.LogoEmpresa {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    
    img {
        height: 60px;
        border-radius: 50%;
    }
}

.dg2 {
    @extend .dg1;
    transform: scaleY(-1);
}

header main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: $Background-Header; /* Usando variáveis SCSS */
    padding: 10px;

    ul {
        display: flex;
    }
}
