@use "../../Variables.scss" as *;

header {

    .dg1 {
        height: 2vh;
        width: 100%;
        background: linear-gradient(to top, $Background-Header, $Black); /* Usando variáveis SCSS */
    }
        
    .LogoEmpresa {
        display: flex;
        align-items: center;
        gap: 0.5vw;
        cursor: pointer;
        
        img {
            height: 3.5rem;
        border-radius: 50%;
        }
    }
    
    //Configuração da barra de pesquisa

    .SearchBarContainer {
        height: 3vh;
        width: 25vw;
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 3%;
        border-radius: 5px;
        background-color: $White;

        button {
            height: 100%;
            width: 10%;
            border: none;
            background-color: $White;
            cursor: pointer;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        
        input {
            height: 100%;
            width: 80%;
            padding: 5px;
            border: none;
            background-color: $White;
        }
    }

    main {
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: $Background-Header; /* Usando variáveis SCSS */
        padding: 10px;   
        
        a {
            text-decoration: none;
            color: black;
        }
        
       }
    
    section {
        display: flex;
        align-items: center;
        gap: 10px;
        
        img {
            height: 3.5rem;
            border-radius: 50%;
        }

        h2 {
            color: black;
        }
    }
    
    .dg2 {
        @extend .dg1;
        transform: scaleY(-1);
    }
}