// Default Colors
$White: rgba(255, 255, 255, 1);
$Black: rgba(0, 0, 0, 1);
$Light-Gray: rgba(202, 200, 200, 1);
$Blue: rgb(20, 0, 197);

// Background Colors
$Background-Header: rgba(182, 168, 184, 1);
$Background-TitleCard: rgba(217, 217, 217, 0.7);
$Background-GameCard: rgba(217, 217, 217, 0.7);
$Background-Crossplay: rgba(182, 168, 184, 1);
$Background-PlayStation: rgba(8, 78, 150, 1);
$Background-Xbox: rgba(18, 124, 18, 1);
$Background-Nintendo: rgba(250, 17, 22, 1);
$Background-Footer: rgba(164, 164, 164, 1);
$Background-GameDescription: rgba(81, 81, 81, 1);

// Login/SignUp Section Colors
$Login_SignUp-Section: rgba(217, 217, 217, 0.93);
$Login_SignUp-Input: rgba(217, 217, 217, 1);

// Font styles
$Hightlight-Font: monospace;