$White: rgba(255, 255, 255, 1);
$Black: rgba(0, 0, 0, 1);
$Background-Header: rgba(182, 168, 184, 1);

$Background-TitleCard: rgba(217, 217, 217, 0.7);
$Background-GameCard: rgba(217, 217, 217, 0.7);
$Background-Crossplay: rgba(182, 168, 184, 1);
$Background-PlayStation: rgba(8, 78, 150, 1);
$Background-Xbox: rgba(18, 124, 18, 1);
$Background-Nintendo: rgba(250, 17, 22, 1);

$Login_SignUp-Section: rgba(217, 217, 217, 0.93);

$Background-Footer: rgba(164, 164, 164, 1);